body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-right: 12px;
}

.main h1 {
  padding: 20px;
}

.main h4 {
  padding-bottom: 30px;
}

.subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.text {
  margin-left: 15px;
}

.box {
  background: #fff;
  padding: 2rem;
  /* border-radius: 5px; */
  border: 1px solid #000;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 220px;
}